<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="!showSearch && artist$ | async as artist">{{artist.name}}</ion-title>

    <!-- Search -->
    <ion-toolbar *ngIf="showSearch">
      <ion-searchbar
        (ionCancel)="showSearch = false"
        (ionChange)="searchText = $event.detail.value"
        animated="true"
        cancelButtonIcon="chevron-back-outline"
        debounce="200"
        show-cancel-button="true"
      ></ion-searchbar>
    </ion-toolbar>

    <!-- Nav buttons -->
    <ion-buttons slot="secondary">

      <ion-button
        (click)="showSearch = true;"
        *ngIf="!showSearch"
        fill="clear">
        <ion-icon
          [ios]="'search-outline'"
          [md]="'search-outline'"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon
          [ios]="'ellipsis-vertical-outline'"
          [md]="'ellipsis-vertical-outline'"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- List of Text Items -->
  <ion-list *ngIf="(songs$ | async) as songs ">
    <ion-item *ngFor="let s of songs | search : searchText">
      <ion-label [routerLink]="['/song', s.id]">{{s.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

