<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-button
        [routerLink]="['/songs', artistId]"
        fill="clear
">
        <ion-icon
          [ios]="'arrow-back'"
          [md]="'arrow-back'"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Nav buttons -->
    <ion-buttons slot="secondary">
      <ion-button fill="clear">
        <ion-icon
          [ios]="'save'"
          [md]="'save'"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
